.constraintslist {
	padding: 10px;
	border-width: 0;
	border-style: none;
}
.constraintslist ul {
	margin: 10px 5px 10px 5px;
	padding: 0;
}
.constraintslist ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.constraintslist div {
	padding: 4px 25px 4px 7px;
	margin: 10px 0 10px 0;
	overflow: hidden;
}
