body,html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.header {
	background-color: black;
	color: white;
	margin: 0;
	padding: 2px 1em 2px 1em;
}
.contentarea {
	margin: 0;
	padding: 0;
}

div.sidebar {
	float: left;
	height: 100%;
	width: 25%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div.selectorsarea {
	float: right;
	height: 100%;
	width: 75%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#facetstab,#timelinetab,#maptab {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.splitpartbox {
	float: left;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.constraintslistbox {
	margin: 0;
	padding: 0;
}
.eventdescriptionslistbox {
	margin: 0;
	padding: 0;
}

/* Change the spacing on bootstrap's tab elements to make vertical sizing */
.nav-pills {
	margin: 0;
	padding: 0;
}
.nav-pills li {
	margin: 10px 10px 5px 10px;
	padding: 0;
}
.nav-pills li a {
	margin: 0;
	padding: 10px;
	line-height: 32px;
}
