body,html {
	margin: 0;
	padding: 0;
	height: 100%;
}

div.sidebar {
	float: left;
	height: 100%;
	width: 25%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div.selectorsarea {
	float: right;
	height: 100%;
	width: 75%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.facet.allargs {
	left: 25%;
	width: 20%;
}
div.facet.arg0 {
	left: 45%;
	width: 20%;
}
div.facet.arg1 {
	left: 65%;
	width: 20%;
}
.facet button {
	margin: 0 1em 0 1em;
}
.facet .listbox {
	position: absolute;
	top: 20%;
	width: 100%;
	bottom: 0;
	margin: 0;
	overflow-y: auto;
}
.facet ul {
	margin: 1em;
	padding: 0;
}
.facet ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.facet ul li:hover {
	background-color: gray;
}
