body,html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.header {
	background-color: black;
	color: white;
	margin: 0;
	padding: 2px 1em 2px 1em;
}
.contentarea {
	margin: 0;
	padding: 0;
}

div.sidebar {
	float: left;
	height: 100%;
	width: 25%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div.selectorsarea {
	float: right;
	height: 100%;
	width: 75%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.facets {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.splitpartbox {
	float: left;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.constraintslistbox {
	margin: 0;
	padding: 0;
}
.eventdescriptionslistbox {
	margin: 0;
	padding: 0;
}
