.map {
	width: 100%;
	margin: 0;
	padding: 0;
}
.map .topbox {
	margin: 0;
	padding: 0 10px 0 10px;
	height: 26px;
}
.map svg {
	width: 100%;
	margin: 0;
	padding: 0;
}
.map .line,.area {
	vector-effect: non-scaling-stroke;
}
.map .axis path, .map .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.map .dragselectextent {
	fill: #3a87ad;
	fill-opacity: .1;
	stroke-dasharray: 5,5;
	stroke: #3a87ad;
}

/* Map style from d3 examples */
.map .background {
	fill: #a4bac7;
}
.map .foreground {
	fill: none;
	stroke: #333;
	stroke-width: 1.5px;
}
.map .graticule {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
}
.map .land {
	fill: #d7c7ad;
	stroke: #766951;
}
.map .river {
	stroke: #a4bac7;
	fill: none;
}
.map .lake {
	fill: #a4bac7;
}
.map .currentcountryboundary {
	fill: none;
	stroke: #a5967e;
}

/* Custom styles for our map visualizations */
.map .marker.initial {
	fill: #aaaaaa;
	fill-opacity: 0.25;
}
.map .marker.context {
	fill: #aaaaaa;
	fill-opacity: 0.85;
}
.map .marker.initial.selected {
	fill: #3a87ad;
	fill-opacity: 0.5;
}
.map .marker.context.selected {
	fill: #3a87ad;
	fill-opacity: 0.85;
}
.map .marker.counttext {
	fill: black;
}
.map .refpointlink {
	pointer-events: none;
	fill: none;
	stroke: black;
	display: none;
}
.map .refpointlink.initial {
	stroke-opacity: 0.25;
}
.map .refpointlink.context {
	stroke-opacity: 0.85;
}
.map g.marker:hover .refpointlink {
	display: inherit;
}

.map .brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}
.map .testbrush {
	fill: red;
}

.map .dropdown-menu {
	padding: 1em;
	margin: 0;
}
.map .dropdown-menu ul {
	list-style: none;
	padding: 0;
	margin: 0.5em 0 0.1em 0;
}
.map .dropdown-menu ul li {
	padding: 0;
	margin: 0;
}
.map .dropdown-menu ul li a {
	padding: 0;
	margin: 0;
}

.map .topbox .selbox {
	float: left;
	margin-bottom: 0.25em;
}
.map .topbox .viewbox {
	float: right;
	margin-bottom: 0.25em;
}
.map .topbox button {
	margin: 0 0.5em 0 0.5em;
}
.map .topbox .btn-group button {
	padding: 0 0.5em 0 0.5em;
	margin: 0;
}
.map .viewbox .dropdown-menu {
	left: auto;
	right: 0;
}
.map .viewbox .dropdown-menu.zoomlevelmenu {
	left: 0;
	right: 0;
	min-width: 2em;
	padding: 0;
}
.map .topbox .btn-group.btn-group-vertical {
	width: 100%;
}
.map .topbox .btn-group.btn-group-vertical button {
	width: 100%;
}

.map .zoomcontrols .zoomin {
	font-size: large;
}
.map .zoomcontrols .zoomout {
	font-size: large;
}

.map .selbox .mode button {
	min-width: 5em;
}
