.storyline {
	width: 100%;
	margin: 0;
	padding: 0;
}
.storyline .topbox {
	margin: 0;
	padding: 0 10px 0 10px;
}
.storyline .topbox form {
	margin: 0;
	padding: 0;
}
.storyline svg {
	width: 100%;
	margin: 0;
	padding: 0;
}
.storyline .topbox .inputbox {
	display: block;
	overflow: hidden;
	padding: 0 20px 0 10px;
}
.storyline .topbox input.year {
	float: left;
	margin-bottom: 0.25em;
	width: 4em;
}
.storyline .topbox input.entities {
	float: left;
	margin-bottom: 0.25em;
	width: 100%;
}
.storyline .topbox button {
	float: left;
	margin: 0 0.5em 0 0.5em;
}

.storyline .node {
	shape-rendering: crispEdges;
	fill: black;
	fill-opacity: .15;
	stroke: none;
}
.storyline .node.highlight {
	fill-opacity: 0.4;
}
.storyline .line {
	fill: none;
	stroke: black;
	stroke-opacity: .5;
	stroke-linecap: round;
	stroke-width: 6;
	vector-effect: non-scaling-stroke;
}
.storyline .line.highlight {
	stroke-opacity: 1.0;
}
.storyline .axis path, .timeline .axis line {
	fill: none;
	stroke: black;
}
.storyline .brush .extent {
	fill: #3a87ad;
	fill-opacity: .5;
}

/* TODO: remove dummy node support after debugging */
.storyline .dummynode {
	shape-rendering: crispEdges;
	fill: green;
	fill-opacity: .5;
	stroke: none;
}
.storyline .dummynode.highlight {
	fill-opacity: 0.9;
}
