.storyline {
	width: 100%;
	margin: 0;
	padding: 0;
}
.storyline .topbox {
	margin: 0;
	padding: 0 10px 0 10px;
}
.storyline .topbox form {
	margin: 0;
	padding: 0;
}
.storyline .topbox form.query {
	margin: 0.2em 0 0.1em 0;
}
.storyline .alert {
	margin: 1em;
}
.storyline select.btn {
	height: auto;
	line-height: 14px;
	display: inline;
	margin: 0 4px 0 4px;
}
.storyline .inputbox {
	display: block;
	overflow: hidden;
	padding: 0 10px 0 20px;
}
.storyline .inputbox input {
	float: right;
	margin-bottom: 0.25em;
	width: 100%;
}
.storyline .topbox form.query button {
	float: right;
	margin: 0 0.5em 0 0.5em;
}
.storyline svg {
	width: 100%;
	margin: 0;
	padding: 0;
}
.storyline .node {
	shape-rendering: crispEdges;
	fill: black;
	fill-opacity: .15;
	stroke: none;
}
.storyline .node.highlight {
	fill-opacity: 0.4;
}
.storyline .node.selected {
	fill-opacity: 0.8;
}
.storyline .line {
	fill: none;
	stroke: black;
	stroke-opacity: .3;
	vector-effect: non-scaling-stroke;
}
.storyline .line.important {
	stroke-opacity: .6;
}
.storyline .line.highlight {
	stroke-opacity: 8.0;
}
.storyline .line.selected {
	stroke-opacity: 5.0;
}
.storyline .line.highlight.selected {
	stroke-opacity: 1.0;
}
.storyline .linelabelline {
	fill-opacity: .3;
	stroke-opacity: .5;
	stroke-color: black;
	font-size: small;
}
.storyline .linelabelline.important {
	fill-opacity: .5;
	stroke-opacity: .7;
}
.storyline .linelabelline.highlight {
	fill-opacity: 8.0;
	stroke-opacity: 1.0;
}
.storyline .axis path, .timeline .axis line {
	fill: none;
	stroke: black;
}
.storyline .brush .extent {
	fill: #3a87ad;
	fill-opacity: .5;
}
