.textsearch {
	width: 100%;
	margin: 0;
	padding: 0;
}
.textsearch .inputbox {
	margin: 0;
	padding: 0 10px 0 10px;
	text-align: center;
}
.textsearch .inputbox input {
	display: block;
	margin: 1em auto;
	width: 90%;
}
.textsearch .buttonbox {
	margin: 1em auto;
	padding: 0 10px 0 10px;
	text-align: center;
}
.textsearch .buttonbox button {
	margin: 0.25em 0.5em 0.25em 0.5em;
}
.textsearch .infobox {
	margin: 0;
	padding: 0 10px 0 10px;
	text-align: center;
}
.textsearch .alert {
	margin: 1em;
}
