svg {
  font: 10px sans-serif;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.tooltip {   
  position: absolute;
  text-align: center;
  width: 200px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  pointer-events: none;
  box-shadow: 0px 0px 30px black;
}
