<!DOCTYPE html>
<html>
  <head>
  <title>{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">

  <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

  {% block head %}
  {% endblock %}

  </head>
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="{{ url_for('index') }}">Lensing</a>
      <ul class="nav">
        <li><a href="{{ url_for('users') }}">Users</a></li>
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
      </ul>
    </div>
  </div>

  {% block content %}
  {% endblock content %}

  </body>
  </html>
