{% extends "admin/base.html" %}
{% block content %}
<div class="page-header">
  <h1>User {{ user.username }}</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
  </tr>
  </tbody>
</table>


<div class="row-fluid">
{% if g.user.is_admin() %}
<form action="" method="POST" class="form-horizontal span6" name="reset_password_form">
  {{modify_form.hidden_tag()}}
  <legend>New password</legend>
  <div class="control-group {% if modify_form.password.errors %}error{% endif %}">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      {{ modify_form.password(id="inputPassword", placeholder="Password") }}
      {% if modify_form.password.errors %}
      <span class="help-block">{{ modify_form.password.errors[0] }}</span>
      {% endif %}
    </div>
  </div>

  <div class="control-group {% if modify_form.confirm.errors %}error{% endif %}">
    <label class="control-label" for="inputPasswordConfirm">Repeat password</label>
    <div class="controls">
      {{ modify_form.confirm(id="inputPasswordConfirm", placeholder="Repat password") }}
      {% if modify_form.confirm.errors %}
      <span class="help-block">{{ modify_form.confirm.errors[0] }}</span>
      {% endif %}
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" name="submit-btn" value="save">Reset</button>
  </div>
</form>

{% if not user.is_admin() %}
<form class="span6" action="{{ url_for('user', id=user.id) }}" method="POST" name="delete-user">
  {{delete_form.hidden_tag()}}
  <legend>Delete user</legend>
  <div class="control-group {% if modify_form.confirm.errors %}error{% endif %}">
    <label class="checkbox" for="deleteConfirm">
      {{ delete_form.confirm(id="deleteConfirm") }} Confirm deletion
    </label>
  </div>
  <div class="form-actions">
    <button class="btn btn-danger" type="submit" name="submit-btn" value="delete">Delete user</button>
  </div>
</form>
{% endif %}
{% endif %}
</div>

{% endblock content %}

{% block bottom_scripts %}
<script>
  $(document).ready(function() {
      delete_check = $("#deleteConfirm");
      delete_submit = $("button[value=delete]");

      delete_submit.attr('disabled', 'disabled');
      delete_check.removeAttr('checked');

      delete_check.click(function(e) {
        if (this.checked) {
          delete_submit.removeAttr('disabled');
        } else {
          delete_submit.attr('disabled', 'disabled');
        }
      });
  });
</script>
{% endblock %}
