<!DOCTYPE html>
<html>
  <head>
  <title>{% block title %}{% if title %}{{ title }}{% else %}{{ config.LENSING_SITETITLE }}{% endif %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

  <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery.cookie.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/d3/d3.v3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/d3/topojson.v1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/d3/d3.geo.projection.v0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/d3/d3.geo.polyhedron.v0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/d3/d3.sankey.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

  <script>
    {% if g.user.is_authenticated() %}
    var userID = {{ g.user.email }};
    {% else %}
    var userID = null;
    {% endif %}
  </script>

  {% block head %}
  {% endblock %}

  </head>
  <body>

  {% include "components/top-bar.html" %}

  {% include "components/flashes.html" %}

  {% include "components/about-modal.html" %}

  {% block content %}
  {% endblock content %}
  <div>
  </body>
</html>
