{% extends "base.html" %}

{% block content %}
<section id="page-content">
<div class="page-header">
  <h1>Reset your password</h1>
</div>
<p>
  Enter your email address below and we'll send you an email with how to reset your password.
</p>
<form class="form-horizontal" action="" method="POST" name="forgot_password_form.html">
  {{ form.hidden_tag() }}
  <div class="control-group {% if form.email.errors %}error{% endif %}">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      {{ form.email(id="inputEmail", placeholder="Email") }}
      {% if form.email.errors %}
      <span class="help-block">{{ form.email.errors[0] }}</span>
      {% endif %}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" name="submit-btn" value="send">Send email</button>
    </div>
  </div>
</form>
</section>
{% endblock %}
