{% extends "base.html" %}

{% block head %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loadingindicator.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/constraintslist.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/eventdescriptionslist.css') }}">

  {% for tab, tabname in config.TABS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + tab + '.css') }}">
  {% endfor %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/layoututils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/selections.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timeaxis.js') }}"></script>
  <script src="{{ url_for('static', filename='js/loadingindicator.js') }}"></script>
  <script src="{{ url_for('static', filename='js/queries.js') }}"></script>
  <script src="{{ url_for('static', filename='js/constraintslist.js') }}"></script>
  <script src="{{ url_for('static', filename='js/eventdescriptionslist.js') }}"></script>

  {% for tab, tabname in config.TABS %}
    {# hack that'll have to work for now #}
    {% if tab == "storyline" %}
      <script src="{{ url_for('static', filename='js/storylinelayout.js') }}"></script>
    {% endif %}

    <script src="{{ url_for('static', filename='js/' + tab + '.js') }}"></script>
  {% endfor %}

  <script src="{{ url_for('static', filename='js/textreplacements.js') }}"></script>


  {% if config.DOMAIN == "wikipediahistory" %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wikipediahistory.css') }}">
  <script src="{{ url_for('static', filename='js/wikipediahistory.js') }}"></script>
  <script src="{{ url_for('static', filename='js/wikipediahistory_config_defaults.js') }}"></script>
  <script src="{{ url_for('static', filename='js/wikipediahistory_config_local.js') }}"></script>

  {% elif config.DOMAIN == "avherald" %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/avherald.css') }}">
  <script src="{{ url_for('static', filename='js/avherald.js') }}"></script>
  <script src="{{ url_for('static', filename='js/avherald_config_defaults.js') }}"></script>
  <script src="{{ url_for('static', filename='js/avherald_config_local.js') }}"></script>

  {% else %}

  {% endif %}

  <script>
    FrontendConfig.backendUrl = "{{ config.BACKEND_URL }}";
  </script>

{% endblock %}


{% block content %}

{% if g.user.is_authenticated() %}

<div id="login">
  Welcome back, {{ g.user.email }}!
  <a href="{{ url_for("logout") }}">Log out</a>
</div>

{% else %}

<div id="login">
  <!-- Button to trigger modal -->
  <a href="#loginModal" role="button" class="btn btn-link" data-toggle="modal">Log in / Register</a>
</div>

<!-- Modal -->
<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Accounts</h3>
  </div>
  <div class="modal-body">

    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Log in</a></li>
        <li><a href="#tab2" data-toggle="tab">Register</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <form class="form-horizontal" action="" method="POST" name="login_form">
            {{ login_form.hidden_tag() }}
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                {{ login_form.email(id="inputEmail", placeholder="Email") }}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">Password</label>
              <div class="controls">
                {{ login_form.password(id="inputPassword", placeholder="Password") }}
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="tab2">
          <form class="form-horizontal" action="" method="POST" name="register_form">
            {{ register_form.hidden_tag() }}
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                {{ register_form.email(id="inputEmail", placeholder="Email") }}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">Password</label>
              <div class="controls">
                {{ register_form.password(id="inputPassword", placeholder="Password") }}
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="header">
</div>

		<script>
			$('<div class="contentarea"> \
				<div class="sidebar"> \
					<div class="constraintslistbox"></div> \
					<div class="eventdescriptionslistbox"></div> \
				</div> \
				<div class="selectorsarea"> \
					<ul class="nav nav-pills" id="tabbar"> \
                      {% for tab, tabname in config.TABS %}
                        <li {% if loop.first %}class="active"{% endif %}><a href="#{{ tab }}tab" data-toggle="tab">{{ tabname }}</a></li> \
                      {% endfor %}
					</ul> \
					<div class="tab-content" id="tabcontents"> \
                      {% for tab, tabname in config.TABS %}
                        <div class="tab-pane active" id="{{ tab }}tab"></div> \
                      {% endfor %}
					</div> \
				</div> \
			</div>').appendTo($('body'));

			LayoutUtils.setupPanelled($('body'), $('.header'), $('.contentarea'), 'vertical', 4);
			LayoutUtils.setupPanelled($('.selectorsarea'), $('#tabbar'), $('.tab-content'), 'vertical');

			var initialQuery = new Queries.Query(FrontendConfig.backendUrl);
			var globalQuery = new Queries.Query(FrontendConfig.backendUrl);

			function setupSidebar(container, globalQuery) {
				var cnstrBoxElt = $(".constraintslistbox");
				var eventDescBoxElt = $(".eventdescriptionslistbox");

				ConstraintsList.setup(cnstrBoxElt, globalQuery);
				EventDescriptionsList.setup(eventDescBoxElt, globalQuery);

				LayoutUtils.setupPanelled(container, cnstrBoxElt, eventDescBoxElt, 'vertical', 0, true);
			}
			setupSidebar($(".sidebar"), globalQuery);

			var fieldSelections = new Facets.FieldSelections(globalQuery);
			var facetsExpanded = [];
			var facetMakers = $.map(FrontendConfig.facets, function (facet) {
				return function (container) {
					fieldSelections.setName(facet.field, facet.title);
					facetsExpanded.push(Utils.extendObject([facet], {
						facet: Facets.setup(container, globalQuery, facet.title, facet.field, fieldSelections.get(facet.field))
					}));
				}
			});

            var parameters = {
              globalQuery: globalQuery,
              facetsExpanded: facetsExpanded,
              fieldSelections: fieldSelections,
              initialQuery: initialQuery,
              mapDataUrl: mapDataUrl,
              minMapZoom: FrontendConfig.minMapZoom,
              maxMapZoom: FrontendConfig.maxMapZoom
            }

            {# always show the facets tab #}
            LayoutUtils.setupSplitMakeElements($('#facetstab'), 'horizontal', facetMakers);

            {% for tab, tabname in config.TABS[1:] %}
              {{ tab|capitalize }}.setup($('#{{ tab }}tab'), parameters);
            {% endfor %}

            {% for tab, tabname in config.TABS %}
              LayoutUtils.fillElement($('.tab-content'), $('#{{ tab }}tab'), 'vertical');
            {% endfor %}

			LayoutUtils.fillElement($('.tab-content'), $('#abouttab'), 'vertical');

			// Update the queries only after setting up all the controls
			initialQuery.update();
			globalQuery.update();

			// Fake a window resize on changing tabs, so ensure that the contents are sized properly
			$('a[data-toggle="tab"]').on('shown', function () {
				$(window).trigger('resize');
			});
		</script>

{% endblock %}
