{% extends "base.html" %}

{% block content %}
<section id="page-content">
<div class="page-header">
  <h1>Reset your password</h1>
</div>
<p>
  Enter your new password below.
</p>
<form action="" method="POST" class="form-horizontal" name="reset_password_form">
  {{form.hidden_tag()}}
  <legend>Change password</legend>

  <div class="control-group {% if form.password.errors %}error{% endif %}">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      {{ form.password(id="inputPassword", placeholder="Password") }}
      {% if form.password.errors %}
      <span class="help-block">{{ form.password.errors[0] }}</span>
      {% endif %}
    </div>
  </div>

  <div class="control-group {% if form.confirm.errors %}error{% endif %}">
    <label class="control-label" for="inputPasswordConfirm">Repeat password</label>
    <div class="controls">
      {{ form.confirm(id="inputPasswordConfirm", placeholder="Repeat password") }}
      {% if form.confirm.errors %}
      <span class="help-block">{{ form.confirm.errors[0] }}</span>
      {% endif %}
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" name="submit-btn" value="save">Reset</button>
  </div>
</form>
</section>
{% endblock %}
