{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1>Users</h1>
</div>
{% if users %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
  <tr>
    <td>{{ user.username }}</td>
    <td><a href="{{ url_for('user', id=user.id) }}">{{ user.email }}</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are currently no users registered.</p>
{% endif %}
{% endblock content %}
