body {
	overflow: hidden;
}

.comparison {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.comparison .topbox {
	margin: 0;
	padding: 0 10px 0 10px;
}

.comparison svg {
	width: 100%;
	margin: 0;
	padding: 0;
}

.comparison .outersvg {
	width: calc(100% - 150px);
}

.comparison .legend {
	width: 150px;
	float: right;

	max-height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}

.comparison .legend ul {
	margin-left: 0;
}

.comparison .legend ul li {
	list-style: none;
}

.storyline .legend ul li.highlight {
	color: black;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.hover-line {
	stroke: #6E7B8B;
}

.hide {
	opacity: 0;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.controls button.btn {
	margin-right: 50px;
}

.controls button.clear {
	margin-left: 50px;
}

.controls select {
	width: auto;
	margin-right: 5px;
}
