body,html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.contentarea {
	margin: 0;
	padding: 0;
}

div.sidebar {
	float: left;
	height: 100%;
	width: 25%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div.selectorsarea {
	float: right;
	height: 100%;
	width: 75%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#facetstab,#timelinetab,#maptab {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.splitpartbox {
	float: left;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.constraintslistbox {
	margin: 0;
	padding: 0;
}
.eventdescriptionslistbox {
	margin: 0;
	padding: 0;
}

#notesModal {
    height: 80%; /* because top: 10% */
}

#notesModal iframe {
    width: 100%;
    margin: 0;
    border: none;
    height: 100%;
}

.modal #notesInput {
    /* these values depend on the width of .modal which is fixed within
     * Bootstrap
     */
    width: 515px;
    height: 300px;
}

#notesModal .modal-header {
    border: none;
}

#notesModal .modal-body {
    padding: 0;
    max-height: initial;
    height: calc(100% - 48px); /* to account for the header */
    overflow-y: initial; /* otherwise an extra scrollbar appears */
}

.modal-footer .modal-status {
    color: gray;
    padding: 15px;
}

#tracking-cookie {
    margin: 5px 5px;
}

#tracking-cookie.successful-input {
    background-color: #C2FF76;
}

/* Change the spacing on bootstrap's tab elements to make vertical sizing */
.nav-pills {
	margin: 0;
	padding: 0;
}
.nav-pills li {
	margin: 10px 10px 5px 10px;
	padding: 0;
}
.nav-pills li a {
	margin: 0;
	padding: 10px;
	line-height: 32px;
}

noscript {
	margin: 1em auto 1em auto;
	padding: 1em;
	width: 80%;
	display: block;
	background-color: yellow;
	border-width: 4;
	border-color: black;
	border-style: dashed;
	text-align: center;
}
