.storyline {
	width: 100%;
	margin: 0;
	padding: 0;
}
.storyline .topbox {
	margin: 0;
	padding: 0 10px 0 10px;
}
.storyline .topbox form {
	margin: 0;
	padding: 0;
}
.storyline .topbox form .status {
	font-size: 80%;
	margin-left: 0.5em;
}
.storyline .topbox form.query {
	margin: 0.2em 0 0.1em 0;
}
.storyline .alert {
	margin: 1em;
}
.storyline select.btn {
	display: inline;
	margin: 0 4px 0 4px;
	height: 20px;
}
.storyline .inputbox {
	display: block;
	overflow: hidden;
	padding: 0 10px 0 20px;
}
.storyline .inputbox input {
	float: right;
	margin-bottom: 0.25em;
	width: 100%;
}
.storyline .topbox form.query button {
	float: right;
	margin: 0 0.5em 0 0.5em;
}
.storyline .legend {
	width: 150px;
	float: right;

	max-height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}
.storyline .legend ul {
	margin-left: 0;
}
.storyline .legend ul li {
	list-style: none;
}
.storyline .legend ul li.highlight {
	color: black;
}
.storyline .outersvg {
	width: calc(100% - 150px);
}
.storyline svg {
	width: 100%;
	margin: 0;
	padding: 0;
}
.storyline .node {
	shape-rendering: crispEdges;
	fill: black;
	fill-opacity: .15;
	stroke: none;
}
.storyline .node.highlight {
	fill-opacity: 0.4;
}
.storyline .node.selected {
	fill-opacity: 0.8;
}
.storyline .line {
	fill: none;
	stroke: black;
	stroke-opacity: .3;
	vector-effect: non-scaling-stroke;
}
.storyline .line.important {
	stroke-opacity: .6;
}
.storyline .line.highlight {
	stroke-opacity: 8.0;
}
.storyline .line.selected {
	stroke-opacity: 5.0;
	font-weight: bold;
	font-style: italic;
}
.storyline .line.highlight.selected {
	stroke-opacity: 1.0;
}
.storyline .linelabelline {
	fill-opacity: .3;
	stroke-opacity: .5;
	stroke-color: black;
	font-size: small;
}
.storyline .linelabelline.important {
	fill-opacity: .5;
	stroke-opacity: .7;
}
.storyline .linelabelline.highlight {
	fill-opacity: 8.0;
	stroke-opacity: 1.0;
}
.storyline .axis path, .timeline .axis line {
	fill: none;
	stroke: black;
}
.storyline .brush .extent {
	fill: #3a87ad;
	fill-opacity: .5;
}
.storyline .btn-mini {
	height: 20px;
}

.storyline .facetlistbox {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

.storyline .facetlistbox ul {
	margin: 0em 1em 1em 1em;
	padding: 0;
}
.storyline .facetlistbox ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}
.storyline .facetlistbox ul li:before {
	content: "\2713";
	color: white;
	margin-right: 0.5em;
	padding-left: 0.25em;
	padding-right: 0.25em;
}
.storyline .facetlistbox ul li.selected:before {
	color: black;
}
.storyline .facetlistbox ul li:hover:before {
	content: "\2713";
	color: darkgray;
}
.storyline .facetlistbox .buttonbox {
	text-align: center;
	margin: 0;
	padding: 0;
}
.storyline .facetlistbox .buttonbox button {
	margin: 0em auto 1em auto;
}
.storyline .facetlistbox .clearbuttonbox {
	margin: 0;
	padding: 0;
}
.storyline .topbox .clearbuttonbox button {
	margin: 0.5em 0 0.5em 2em;
}
