.timeline {
	width: 100%;
	margin: 0;
	padding: 0;
}
.timeline .topbox {
	margin: 0;
	padding: 0 10px 0 10px;
}
.timeline svg {
	width: 100%;
	margin: 0;
	padding: 0;
}
.timeline .line,.area {
	vector-effect: non-scaling-stroke;
}
.timeline .bar.detail.initial {
	fill: rgba(58, 135, 173, 0.5);
}
.timeline .bar.detail.context {
	fill: rgba(58, 135, 173, 1.0);
}
.timeline .bar.selection.initial {
	fill: rgba(128, 128, 128, 0.5);
}
.timeline .bar.selection.context {
	fill: rgba(128, 128, 128, 1.0);
}
.timeline .axis path, .timeline .axis line {
	fill: none;
	stroke: black;
}
.timeline .brush .extent {
	fill: #3a87ad;
	fill-opacity: .5;
}
.timeline .disabled {
	fill: red;
	stroke: red;
}
