.eventdescriptionslist dl {
	margin: 0 0.5em 0 0.5em;
	padding: 0;
}
.eventdescriptionslist dl dd {
	margin: 1em;
	padding: 0;
}
.eventdescriptionslist .buttonbox {
	text-align: center;
	margin: 0;
	padding: 0;
}
.eventdescriptionslist button {
	margin: 0em auto 1em auto;
}
.eventdescriptionslist .eventfulldescription {
	font-size: 80%;
	display: none;
}
.eventdescriptionslist .eventfulldescription.expanded {
	display: block;
}
.eventdescriptionslist .predicate {
	font-weight: bold;
}

.expand-desc-btn {
    font-family: monospace;
    font-weight: bold;
    margin-left: 10px;
}
