<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{{ url_for('index') }}">{{ config.SITETITLE }}</a>
    <ul class="nav">
      <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
      {% if g.user.is_authenticated() %}
        <li><a href="#notesModal" role="button" data-toggle="modal">Notes</a></li>
        {% if g.user.is_admin() %}
        <li><a href="{{ url_for('users') }}">Users</a></li>
        <li><a href="{{ url_for('admin_console') }}">Administrate</a></li>
        {% endif %}
      {% endif %}
    </ul>
    <ul class="nav pull-right">
      {% if g.user.is_authenticated() %}
      <li>Tracking code:<input id="tracking-cookie" type="text" placeholder="Tracking value" value="{{ tracking_cookie }}" /></li>
      <li>
        <label for="stage-btn" id="stage-label" class="navbar-text"></label>
        <button class="btn btn-primary" id="stage-btn" data-stage='0'>Start</button>
      </li>
      <li><a href="{{ url_for('user', id=g.user.id) }}">{{ g.user.email }}</a></li>
      <li><a href="{{ url_for('logout') }}">Log out</a></li>
      {% else %}
      <li><a href="{{ url_for('social.auth', backend='google-oauth2') }}">Log in with Google</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<script>
$(document).ready(function() {

  $('#tracking-cookie').on('keypress', function (e) {
    if (e.keyCode == 13) {    // enter key
      document.cookie = "tracking=" + $('#tracking-cookie')[0].value;
      $(this).addClass("successful-input");
    } else {
      $(this).removeClass("successful-input");
    }
  });

  $('#stage-btn').on('click', function(e) {
    var label = $('#stage-label');
    var notesInput = $("#notesInput");
    var currentStage = $(this).data('stage');

    switch (currentStage) {
      case 0:
        document.cookie = "tracking=" + $('#tracking-cookie')[0].value;
        $("#tracking-cookie").addClass("successful-input");
        // fall through
      case 1:
        Utils.log("stage, " + (currentStage + 1));
        label.text("Stage " + (currentStage + 1));
        $(this).text("Next stage");
        break;
      case 2:
        Utils.log("stage, 3");
        label.text("Stage 3");
        $(this).text("Finish");
        break;
      default:
        Utils.log("stage, finish");
        localStorage.removeItem("note");
        notesInput.val("");
        label.text("You're done!");
        $(this).hide();
        break;
    }

    $(this).data("stage", currentStage + 1);
  });
});
</script>
